ECON_CRM_MODE=blobs
ECON_CRM_WEBHOOK_URL=
ECON_CRM_WEBHOOK_TOKEN=
ECON_PRIVACY_URL=https://econ-apex.com/privacy
ECON_PRIVACY_VERSION=v1.8-prelive
ECON_GEOCODER_PROVIDER=disabled
ECON_GEOCODER_URL=
ECON_GEOCODER_USER_AGENT=ECON-FV-Test/1.9 (econ-apex.com)
ECON_ADMIN_TOKEN=replace-with-at-least-32-random-characters
ECON_SERVICE_AREA_REGIONS=emilia-romagna,friuli-venezia-giulia,liguria,lombardia,piemonte,trentino-alto-adige,valle-d-aosta
ECON_SERVICE_AREA_PROVINCES=
ECON_PV_YIELD_KWH_PER_KWP=1250
ECON_PV_COST_PER_KWP=1350
ECON_MIN_PV_INVESTMENT=5000
ECON_EXPORTED_ENERGY_VALUE=0.06
ECON_FALLBACK_AVOIDABLE_SHARE=0.74
